<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voices of Tomorrow <%= year %> • Core vom Feinsten in der Schwabenmetropole</title>
    <meta name="twitter:title" property="og:title" content="Voices of Tomorrow <%= year %> • Core vom Feinsten in der Schwabenmetropole">

    <meta name="description" content="Am 17.11.2018 geht das mittlerweile schon traditionelle Voices of Tomorrow in die vierte Runde. Der Stuttgarter Club Zentral wird ab 18:30 Uhr von feinstem Metalcore zerborsten.">
    <meta name="twitter:description" property="og:description" content="Am 17.11.2018 geht das mittlerweile schon traditionelle Voices of Tomorrow in die vierte Runde. Der Stuttgarter Club Zentral wird ab 18:30 Uhr von feinstem Metalcore zerborsten.">

    <meta name="keywords" content="metal,core,metalcore,stuttgart,konzert,festival,fear the silence">
    <meta property="og:url" content="http://voicesoftomorrow.de">
    <meta name="twitter:image" property="og:image" content="http://voicesoftomorrow.de/images/deep-red.jpg">


    <link href="https://fonts.googleapis.com/css?family=Average|Fjalla+One" rel="stylesheet">
    <link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?rd5re8">
    <link rel="stylesheet" href="css/app.css">
  </head>
<body class="<%= template %>">
  <div class="background"></div>

  <div class="content">
    <div class="grid-container logo">
      <div class="grid-x grid-padding-x">
        <div class="large-12 medium-12 cell">
          <div>
            <h1><a href="index.html"><img src="images/voices.png" alt="Voices of Tomorrow" /></a></h1>
            <strong class="year hide-for-small-only"><%= year %></strong>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-container information">
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="large-6 cell">
          <a href="<% if(info.fb_event) { %><%= info.fb_event %><% } %>">
            <div class="information-line"><%= info.date %></div><br />
            <div class="information-line"><%= info.location %></div><br />
            <div class="information-line">Doors: <%= info.doors %></div><br />
            <div class="information-line"><%= info.cost %> Eintritt</div>
            <% if(info.fb_event) { %>
            <br /><br />
            <div class="information-line">&rarr; <span class="socicon-facebook"></span> Event</div>
            <% } %>
          </a>
        </div>

        <% if(info.text) { %>
        <div class="large-6 cell">
          <div class="information-text">
            <%= info.text %>
          </div>
        </div>
        <% } %>
      </div>
    </div>

    <div class="background-content">
      <h2><span>LineUp</span></h2>

      <% lineup.forEach(band => { %>
      <div class="grid-container band">
        <div class="grid-x grid-padding-x grid-padding-y">
          <div class="large-8 medium-8 cell">
            <h3><%= band.name %></h3>
            <div class="togglable togglable-hidden">
              <div class="short-text">
                <%= band.short_text %>
              </div>
              <div class="full-text">
                <%= band.full_text %>
              </div>
            </div>
          </div>
          <div class="large-4 medium-4 cell">
            <div class="responsive-embed">
              <iframe src="<%= band.video %>" frameborder="0" allowfullscreen></iframe>
            </div>
            <% if(Object.keys(band.social).length > 0) { %>
            <div class="social">
              <% Object.keys(band.social).forEach(type => { %>
              <a href="<%= band.social[type] %>" class="socicon-<%= type %>"></a>
              <% }); %>
            </div>
            <% } %>
          </div>
        </div>
      </div>
      <% }); %>

    </div>

    <div class="footer">
      <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y">
          <div class="large-6 medium-6 cell history">
            History:
            <ol>
              <% history_links.forEach(history => { %>
              <li><a href="<%= history.link %>"><%= history.year %></a></li>
              <% }); %>
            </ol>
          </div>

          <div class="large-6 medium-6 cell copy">
            &copy; 2018 by Fear The Silence | <a href="impressum.html">Impressum</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
ready(function() {
  var els = document.querySelectorAll('.togglable');
  Array.prototype.forEach.call(els, function(el, i) {
    el.addEventListener('click', function() {
      var hidden = 'togglable-hidden';
      if (hasClass(el, hidden)) {
        removeClass(el, hidden);
      } else {
        addClass(el, hidden);
      }
    });
  });
});


function ready(fn) {
  if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading"){
    fn();
  } else {
    document.addEventListener('DOMContentLoaded', fn);
  }
}

function hasClass(el, className) {
  if (el.classList) {
    return el.classList.contains(className);
  } else {
    return el.className.indexOf(className) !== -1;
  }
}

function addClass(el, className) {
  if(el.classList) {
    el.classList.add(className);
  } else {
    el.className += " " + className;
  }
}

function removeClass(el, className) {
  if (el.classList) {
    el.classList.remove(className);
  } else {
    el.className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
  }
}
</script>
</body>
</html>
